body{
    background-color: #ffff;
}
*{
    font-family: "Times New Roman";
    color: black;
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 60px;
    background-color: #4169e1;
}
nav p{
    font-family: "Times New Roman";
    color: #ffff;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}
nav ul{
    float: left;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a:hover{
    display: block;
    font-family: "Times New Roman";
    font-size: 15px;
    padding: 22px 14px;
    background-color: lightgray;
    text-decoration: none;
    color: black;
}
nav ul li a{
    display: block;
    font-family: "Times New Roman";
    font-size: 15px;
    padding: 22px 14px;
    text-decoration: none;
    color: white;
}
